.details {
  padding: 25px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details__title {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 15px;
}

.details__description {
  font-weight: bold;
}

.details__list {
  border: 1px solid blue;
  margin: 20px;
}
