.details {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details__title {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 300;
  margin: 7px 0;
}

.details__description {
  font-weight: bold;
}

.details__list {
  margin: 20px;
}

.details__list li {
  margin: 20px 0;
}
