#book-list {
  margin-top: 10px;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.book-container {
  margin: 25px;
}

.book-container:hover {
  cursor: pointer;
}

.book {
  height: 230px;
  width: 230px;
}

.book-details {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18;
  margin-top: 5px;
}
