#header-container {
  padding: 20px;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

#main-header {
  font-size: 35px;
}

#main-nav {
  font-size: 20px;
}
