.header {
  padding: 5px 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

.header__main {
  font-size: 35px;
}

.header__nav {
  font-size: 20px;
}

.header__link {
  text-decoration: none;
  margin-right: 15px;
  color: black;
}
